.child {
    min-height: 150px;
    /* width: 150px; */
    /* flex-basis: 20%; от ширины родителя, если 100%, то занимает всего родителя */
    /* flex-grow: 1; отвечает за то, как элемент растет, занимая все свободное пространство, которое ему доступно. Каждый из элементов пытается расти с максимальным усилием, и оно одинаковое. Если другому элементу поставить другое значение, то он будет изменяться либо меньше, либо больше, чем остальные. Чем боле разница в цифре, тем больше разница в размере */
    flex: 0 0 10%;
    background-color: powderblue;
    margin: 10px;
    padding: 20px;
}

.parent {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; по умолчанию nowrap */
}

.child:nth-child(2) {
    order: 100;
    margin: auto; /*это максимально возможный отступ, а также центрирует элемент*/
}


/* .child:nth-child(3) { */
    /* flex-shrink: 0 если 0, то не будет сжиматься и будет пытаться вместить все свое содержимое. В остальных случаях, чем выше чисто shrink, тем сильнее элемент сжимается;
} */

/*flex: flex-grow flex-shrink flex-basis, e.g. flex: 0 0 auto;*/